.video {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border: 4px solid #f1f1e4;
  box-sizing: border-box;
  border-radius: 16px;
  cursor: pointer;
}

.video .rh5v-Overlay_component {
  display: none !important;
}
